PNG0{
    height:648;  
    width:1000;  
}
PNG1{
    height:855;  
    width:611;  
}
PNG2{
    height:667;  
    width:1000;  
}
PNG3{
    height:815;  
    width:800;  
}
PNG4{
    height:516;  
    width:800;  
}
